.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.button {
  width: 150px;
  padding: 5px 10px;
  background-color: yellow;
  opacity: 0.8;
  border: 1.5px solid transparent;
  transition: 0.18s ease-in-out;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
}

.button:first-child {
  background-color: green;
}

.button:last-child {
  background-color: tomato;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  border-color: var(--dark-color);
}

.button:active {
  opacity: 1;
}
